<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>

<body>
    <h1>Add A User</h1>
    <form action="/users" method="POST">
      
            <label for="firstName">FirstName: </label>
            <input type="text" name="firstName" id="firstName" placeholder="user firstName"><br>
      
            <label for="lastName">LastName: </label>
            <input type="text" name="lastName" id="lastName" placeholder="user lastName"><br>
      
            <label for="weight">Weight: </label>
            <input type="number" name="weight" id="weight" placeholder="user weight"><br>
      
            <label for="height">Height: </label>
            <input type="number" name="height" id="height" placeholder="user height"><br>
       
        

        <button>Submit</button>
    </form>

    <a href="/activitys">All activitys</a>
    <a href="/users">All Users</a>

</body>

</html>